.bigWrapper{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu{
  background-color: aqua;
  position: absolute;
  /* right: 20px; */
  background-color: #fff;
  border-radius: var(--border-radius);
  /* padding: 10px 20px; */
  width: 598px;
  border: 1px solid #d4d4d4;
  border-color: #f27a1a;
  border-radius: 6PX;
}
.menu:hover{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: var(--speed) ease;
}
.menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: var(--speed) ease;
}
.learningpopup{
  background-color: #f27a1a;
  width: 120vh;
  position: absolute;
  height: 40vh;
  opacity: 0;
  display: none;
}
.learningpopup:hover{
  opacity: 1;
  display: block;
}
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  right: 0px;
  left: 0px;
  margin-left: 20vh;
  margin-right: 20vh;
  min-width: 120vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 4px 8px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.hovercss{
  color: black;
}
.hovercss:hover{
  color: #f27a1a;
  text-decoration-line: underline;
}