.CardContent{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.CardLeft{
    width: 75%;
    border: solid 1px #e6e6e6;
    display: flex;
}
.CardRight{
    border: solid 1px rgb(238, 236, 236);
    width: 20%;
}
.CardPics{
    border: solid 2px #e6e6e6;
    width: 40%;
    margin: 2rem;
}
.Cardİmg{
    width: 100%;
    height: 100%;
}
.CardAbout{
    margin: 1rem;
    margin-top: 2rem;
}
.Cardss{
    font-size: 13px;
}
.Carddd{
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.CardPrice{
    font-size: 28px;
    color: #f27a1a;;
}
.CardAddTo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.AddBasket{
    width: 80%;
    height: 3rem;
    background-color: #f27a1a;
    border: solid 0px;
    border-radius: 5px;
    font-size: 18px;
    color: whitesmoke;
}
.AddBasket:hover{
    background-color: #dc7520;
}
.AddFavorite{
    border: solid 1px #e6e6e6;
    display: flex;
    align-items: center;
    width: 12%;
    justify-content: center;
}
.Cardİcon{
    font-size: 29px;
}

.AddFavorite:hover{
    color: #f27a1a;
}
.CardSp{
    width: 100%;
    border: solid 1px #e6e6e6;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.CardPLC{
    display: flex;
    justify-content: space-evenly;
}
.CardPLC2{
    font-size: 15px;
    margin-bottom: 2rem;
}
.CardRightC1{
    width: 100%;
    border: solid 1px  #e6e6e6;
    background-color: #f2e5da ;
    border-radius: 5px;
}
.c1cs{
    margin: 0.5rem;
    font-weight: 300;
}
.c1css{
    margin: 0.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.CardRightC2{
    width: 100%;
    border: solid 1px  #e6e6e6;
    background-color: #f2e5da ;
    border-radius: 5px;
    margin-top: 2rem;
}